@font-face {
	font-family: 'Lato'; 
	src: url(/font/Lato-Regular.ttf); 
}
@font-face {
	font-family: 'Roboto'; 
	src: url(/font/Roboto-Regular.ttf); 
}
body {
    margin: 0;
}
.wrapper-1 {
    margin-top: 0;
    height: 782px;
    background-image: url(/img/Bg_1920.png);
    background-position: center;
    background-repeat: no-repeat;
}
header {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px 0 200px;
    height: 100px;
    text-align: center;
    align-items: center;
}
.nav-bar-1-font {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    font-family: 'Lato';
}
.nav-bar-1 {
    display: inline-flex;
}
.nav-bar-1-links {
    font-family: 'Roboto';
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.nav-bar-1-link {
    color: #FFFFFF;
    text-decoration: none;
}
.nav-bar-1-btn {
    font-size: 14px;
    font-family: 'Roboto';
    padding: 13px 30px;
    border: 1px #FFFFFF solid;
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 10px;
}
.nav-bar-1-btn:hover {
    cursor: pointer;
}
.title-bar {
    padding-top: 100px;
    text-align: center;
    color: #FFFFFF;
}
.title {
    font-family: 'Roboto';
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 50px;
}
.title-bar-text {
    font-family: 'Roboto';
    font-size: 24px;
    margin: 10px 0;
}
.title-bar-btn {
    margin-top: 50px;
    font-family: 'Roboto';
    font-size: 14px;
    color: #ED4C5C;
    background-color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 6px;
    border: 1px #FFFFFF solid;
}
.title-bar-btn:hover {
    cursor: pointer;
}
.wrapper-2 {
    margin: 0 auto;
    height: 500px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description-bar {
    width: 40%;
}
.description-title {
    font-weight: bold;
    color: #000000;
    font-family: 'Roboto';
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 0;
}
.description-text {
    color: #000000;
    font-family: 'Roboto';
    font-size: 14px;
    margin: 5px 0;
}
.description-link {
    margin-top: 15px;
    font-family: 'Roboto';
    font-size: 14px;
    text-decoration: none;
    color: #ED4C5C;
}
.description-img {
    width: 445px;
    height: 331px;
}
.wrapper-3 {
    margin-top: 0;
    height: 660px;
    background-color: #FAFAFA;
}
.content-title {
    font-weight: bold;
    color: #000000;
    font-family: 'Roboto';
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 85px;
    padding-top: 70px;
    text-align: center;
}
.content-bar {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.content-container {
    width: 355px;
    height: 350px;
}
.content-description {
    margin: 0 auto;
    position: relative;
    background-color: #FFFFFF;
    width: 293px;
    height: 198px;
    bottom: 97px;
    border: 1px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 gray;
}
.content-description-for-text {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
.content-description-title {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 30px;
    color: #000000;
}
.content-description-text {
    font-family: 'Roboto';
    font-size: 12px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 18px;
}
.content-description-link {
    font-family: 'Roboto';
    font-size: 12px;
    text-decoration: none;
    color: #ED4C5C;
}
.wrapper-4 {
    height: 500px;
}
.technology-title {
    font-weight: bold;
    color: #000000;
    font-family: 'Roboto';
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 85px;
    padding-top: 70px;
    text-align: center;
}
.technology-bar {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.technology-container {
    width: 15%;
    text-align: center;
}
.technology-number {
    margin: 0;
    font-family: 'Lato';
    font-size: 100px;
    text-align: center;
    font-weight: 700;
    color: rgba(16, 16, 16, 0.08);
}
.tech-img {
    width: 60px;
    height: 60px;
}
.technology-description-title {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000000;
}
.technology-description-text {
    font-family: 'Roboto';
    font-size: 12px;
    color: #000000;
    margin-top: 0px;
}
.tech-relative {
    position: relative;
    bottom: 20%;
}
.wrapper-5-main {
    margin: 0;
    height: 500px;
    background-color: #ED4C5C;
    display: flex;
}
.wrapper-5 {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description2-bar {
    width: 40%;
}
.description2-title {
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 0;
}
.description2-text {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
    margin: 5px 0;
}
.description-img {
    width: 445px;
    height: 331px;
}
.wrapper-6 {
    height: 500px;
    margin: 0;
}
